.certificate-container {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  background: #f8f9fa;
}

.floating-logo {
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.5s ease;
}

.floating-logo.visible {
  animation: popMarble 0.8s forwards;
}

@keyframes popMarble {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.certificate-container {
  background-color: #f8f9fa; /* light background */
}

.certificate-container h2 {
  font-weight: 600;
  color: #333;
}

.certificate-logo {
  max-width: 120px;
  margin: auto;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.6s ease, opacity 0.6s ease;
  cursor: pointer;
}

.certificate-logo.visible {
  opacity: 1;
  transform: translateY(0);
}

.certificate-logo:hover {
  transform: translateY(-5px) scale(1.05);
  transition: transform 0.3s ease;
}
